{{#if hasNoTracks}}
  <div class='room-item room-message'>
    <i class="fa fa-user" />
  </div>
{{else}}
  {{#if hasNoVideo}}
    <div class='room-item room-message'>
      <i class="fa fa-user" />
    </div>
  {{/if}}
{{/if}}