{{page-panels
  trip=trip
  player=player
  panels=headerPanels}}

<div class='page-layout-tabs-content pure-g'>
  <div class='page-layout-tabs-content-inner pure-u-1'>
    {{page-panels
      trip=trip
      player=player
      panels=tabPanels
      substate=substate}}
  </div>
</div>

{{#if showTabs}}
  <div class="page-layout-tabs-menu pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      {{#each visibleTabs as |tab|}}
        {{page-layouts/tabs-item
          tabs=this
          tab=tab
          action="selectTab"}}
      {{/each}}
    </ul>
  </div>
{{/if}}
