<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="">
    {{tripTitle}} Travel Journal
  </a>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Thank you for travelling with us!</h1>
      <p>Please enjoy the photos from your trip.</p>
    </div>
  </div>
  {{#each galleryRows}}
    <div class="row gallery-row">
      {{#each this}}
        <div class="col-sm-3">
          <img class="img-fluid" src="{{url}}" />
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
