<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>First Person Travel</title>
    <link rel='stylesheet' href='/static/actor/bootstrap.css'/>
    <link rel='stylesheet' href='/static/pages/style/style.css'/>
    <link rel='stylesheet' href='/static/pages/style/fonts.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <script src='/static/actor/jquery.min.js'></script>
</head>
<body>
  {{{body}}}
</body>
</html>
