<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>First Person Travel Gallery</title>
    <link rel='stylesheet' href='/static/gallery/bootstrap.css'/>
    <link rel='stylesheet' href='/static/gallery/gallery.css'/>
    <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <script src='/static/actor/jquery.min.js'></script>
</head>
<body>
  {{{body}}}
</body>
</html>
