@font-face {
  font-family: FFMarkPro;
  font-weight: 400;
  font-style: normal;
  src: url('/static/fonts/3A6E9C_0_0.eot');
  src: url('/static/fonts/3A6E9C_0_0.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/3A6E9C_0_0.woff2') format('woff2'),
    url('/static/fonts/3A6E9C_0_0.woff') format('woff'),
    url('/static/fonts/3A6E9C_0_0.ttf') format('truetype');
}

@font-face {
  font-family: FFMarkPro;
  font-weight: 400;
  font-style: italic;
  src: url('/static/fonts/3A6E9C_3_0.eot');
  src: url('/static/fonts/3A6E9C_3_0.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/3A6E9C_3_0.woff2') format('woff2'),
    url('/static/fonts/3A6E9C_3_0.woff') format('woff'),
    url('/static/fonts/3A6E9C_3_0.ttf') format('truetype');
}
  
@font-face {
  font-family: FFMarkPro;
  font-weight: 100 300;
  font-style: normal;
  src: url('/static/fonts/3A6E9C_1_0.eot');
  src: url('/static/fonts/3A6E9C_1_0.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/3A6E9C_1_0.woff2') format('woff2'),
    url('/static/fonts/3A6E9C_1_0.woff') format('woff'),
    url('/static/fonts/3A6E9C_1_0.ttf') format('truetype');
}
  
@font-face {
  font-family: FFMarkPro;
  font-weight: 100 300;
  font-style: italic;
  src: url('/static/fonts/3A6E9C_2_0.eot');
  src: url('/static/fonts/3A6E9C_2_0.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/3A6E9C_2_0.woff2') format('woff2'),
    url('/static/fonts/3A6E9C_2_0.woff') format('woff'),
    url('/static/fonts/3A6E9C_2_0.ttf') format('truetype');
}
  
@font-face {
  font-family: FFMarkPro;
  font-weight: 500;
  font-style: normal;
  src: url('/static/fonts/3A6E9C_4_0.eot');
  src: url('/static/fonts/3A6E9C_4_0.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/3A6E9C_4_0.woff2') format('woff2'),
    url('/static/fonts/3A6E9C_4_0.woff') format('woff'),
    url('/static/fonts/3A6E9C_4_0.ttf') format('truetype');
}
  
@font-face {
  font-family: FFMarkPro;
  font-weight: 500;
  font-style: italic;
  src: url('/static/fonts/3A6E9C_5_0.eot');
  src: url('/static/fonts/3A6E9C_5_0.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/3A6E9C_5_0.woff2') format('woff2'),
    url('/static/fonts/3A6E9C_5_0.woff') format('woff'),
    url('/static/fonts/3A6E9C_5_0.ttf') format('truetype');
}
  
@font-face {
  font-family: FFMarkPro;
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/3A6E9C_6_0.eot');
  src: url('/static/fonts/3A6E9C_6_0.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/3A6E9C_6_0.woff2') format('woff2'),
    url('/static/fonts/3A6E9C_6_0.woff') format('woff'),
    url('/static/fonts/3A6E9C_6_0.ttf') format('truetype');
}
  
@font-face {
  font-family: FFMarkPro;
  font-weight: 700;
  font-style: italic;
  src: url('/static/fonts/3A6E9C_7_0.eot');
  src: url('/static/fonts/3A6E9C_7_0.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/3A6E9C_7_0.woff2') format('woff2'),
    url('/static/fonts/3A6E9C_7_0.woff') format('woff'),
    url('/static/fonts/3A6E9C_7_0.ttf') format('truetype');
}
  
@font-face {
  font-family: 'RecoletaAlt-SemiBold';
  src: url('/static/fonts/3A6E9C_8_0.eot');
  src: url('/static/fonts/3A6E9C_8_0.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/3A6E9C_8_0.woff2') format('woff2'),
    url('/static/fonts/3A6E9C_8_0.woff') format('woff'),
    url('/static/fonts/3A6E9C_8_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Arvo';
    src: url('/static/entryway/fonts/Arvo/Arvo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src: url('/static/entryway/fonts/Arvo/Arvo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arvo';
    src: url('/static/entryway/fonts/Arvo/Arvo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src: url('/static/entryway/fonts/Arvo/Arvo-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'BioRhyme';
    src: url('/static/entryway/fonts/BioRhyme/BioRhyme-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BioRhyme';
    src: url('/static/entryway/fonts/BioRhyme/BioRhyme-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('/static/entryway/fonts/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('/static/entryway/fonts/Courier_Prime/CourierPrime-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('/static/entryway/fonts/Courier_Prime/CourierPrime-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('/static/entryway/fonts/Courier_Prime/CourierPrime-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson';
    src: url('/static/entryway/fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson';
    src: url('/static/entryway/fonts/Crimson_Text/CrimsonText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson';
    src: url('/static/entryway/fonts/Crimson_Text/CrimsonText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson';
    src: url('/static/entryway/fonts/Crimson_Text/CrimsonText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/static/entryway/fonts/Inconsolata/static/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/static/entryway/fonts/Inconsolata/static/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/static/entryway/fonts/Inconsolata/static/Inconsolata-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/static/entryway/fonts/Inconsolata/static/Inconsolata-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/entryway/fonts/Inter/static/Inter-Regular-slnt=0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/entryway/fonts/Inter/static/Inter-Regular-slnt=0.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/entryway/fonts/Inter/static/Inter-Bold-slnt=0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/entryway/fonts/Inter/static/Inter-Bold-slnt=0.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('/static/entryway/fonts/Lora/static/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/static/entryway/fonts/Lora/static/Lora-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('/static/entryway/fonts/Lora/static/Lora-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/static/entryway/fonts/Lora/static/Lora-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/entryway/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/entryway/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/entryway/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/entryway/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair';
    src: url('/static/entryway/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('/static/entryway/fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair';
    src: url('/static/entryway/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('/static/entryway/fonts/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/entryway/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/entryway/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/entryway/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/entryway/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans';
    src: url('/static/entryway/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans';
    src: url('/static/entryway/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans';
    src: url('/static/entryway/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans';
    src: url('/static/entryway/fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/static/entryway/fonts/Work_Sans/static/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/static/entryway/fonts/Work_Sans/static/WorkSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/static/entryway/fonts/Work_Sans/static/WorkSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/static/entryway/fonts/Work_Sans/static/WorkSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/static/entryway/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/static/entryway/fonts/Raleway/Raleway-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/static/entryway/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/static/entryway/fonts/Raleway/Raleway-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
