<form class="pure-form">
  <fieldset class="pure-group">
    {{input
      type='number'
      value=numberInput
      class="pure-input-1"
      placeholder=params.placeholder}}
    <button class='pure-button pure-button-primary pure-input-1'
      {{action "press"}}>{{submitText}}</button>
  </fieldset>
</form>
