<div class='application-error'>
  <div class='header'>Please refresh the page.</div>
  <div class='button-container'>
    <button class='pure-button pure-button-primary' onclick='javascript:window.location.href = "/travel/";'>
      Refresh the page
    </button>
  </div>
  <div class='footer'>If you see this message repeatedly, make sure you have cell reception. If you do and this message still persists, please call First Person Travel Technical Support at 914-484-4223.</div>
  <div class='button-container'>
    <button class='pure-button pure-button-secondary' onclick='javascript:localStorage.clear(); window.location.href = "/travel/";'>
      Log out
    </button>
  </div>
</div>
